/*--------------------------------*- C++ -*----------------------------------*\
| =========                 |                                                 |
| \\      /  F ield         | OpenFOAM: The Open Source CFD Toolbox           |
|  \\    /   O peration     | Version:  v2112                                 |
|   \\  /    A nd           | Website:  www.openfoam.com                      |
|    \\/     M anipulation  |                                                 |
\*---------------------------------------------------------------------------*/
FoamFile
{{
    version     2.0;
    format      ascii;
    class       dictionary;
    object      turbulenceProperties;
}}
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //

simulationType      {simulation_type};

RAS
{{
    // Tested with kEpsilon, realizableKE, kOmega, kOmegaSST,
    // ShihQuadraticKE, LienCubicKE.
    RASModel        {turbulence_model};

    turbulence      {turbulence_on};

    printCoeffs     on;
}}

ransFromDnsCoeffs
{{
    Cmu         {Cmu};
    C1          {C1};
    C2          {C2};
    C3          {C3};
    sigmak      {sigmak};
    sigmaEps    {sigmaEps};
    
    // Term multipliers for PDE structure discovery
    f1ProductionK       {f1ProductionK};
    f2DissipationK      {f2DissipationK};
    f1ProductionEps     {f1ProductionEps};
    f2DissipationEps    {f2DissipationEps};
}}

clipKGammaCoeffs
{{
    alphaOmega  {alphaOmega};
    beta        {beta};
    betaStar    {betaStar};
    CL          {CL};
    Cgam        {Cgam};
    LambdaC     {LambdaC};
    pExp        {pExp};
    Cnu         {Cnu};
    Cs          {Cs};
    a1          {a1};
    gammaFs     {gammaFs};
    gseed       {gseed};
    sigmak      {sigmak_ko};
    sigmaOmega  {sigmaOmega};
    sigmaGamma  {sigmaGamma};
}}


// ************************************************************************* //
