*.aux
*.fdb_latexmk
*.fls
*.dvi
*.out
*.bbl
*.blg

# >>> calkit latex aux files (managed by calkit) >>>
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb
# <<< calkit latex aux files <<<
